html {
	background: url(images/bg/bison.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.shortcuts { 
	width: 800px; 
	height: 525px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.icons { 
	width:100px; 
	height:100px;
	margin: 15px 15px 15px 15px;
	box-shadow: none;
	background-color: rgba(255,255,255,.5);;
}
.icons:hover{
	background-color: rgba(0,0,0,1);;
	transition: background-color .3s;
	box-shadow: 0px -2px 20px rgba(0,0,0,.5);
	transition: box-shadow .1s;
}
.mobilebreak {
	display: none;
}

@media screen and (max-width: 750px) {

	html {
		background: url(images/bg/bisonmobile.jpg) 
		no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}
	.shortcuts {
		width: 400px;
		height: auto;
	}

	.webbreak {
	display: none;
	}

	.mobilebreak {
	display: inline;
	}
}

