html {
	background: #00b7ff;
	animation: backrotate 60s infinite ease;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

@keyframes backrotate {
	0% {background: #0485ad}
	25% {background: #42acad}
	50% {background: #6eede6}
	75% {background: #00b7ff}
	100% {background: #0485ad}
	
}

.logocontainer { 
	width: 700px; 
	height: 125px;
    margin-top: 38vh;
    margin-left: auto;
    margin-right: auto;
}

.logo {
	width: 700px;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.mobilelogo {
	display: none;
}

h1 {
	font-family: 'Open Sans';
	text-align: center;
	font-size: 20pt;
	font-weight: 800;
	color: white;
	letter-spacing: 5px;
}

.div1 {
	min-width: 100%;
	height: 500px;
	margin-top: 200px;
	background-color: rgba(255,255,255,.5);
}

@media screen and (max-width: 750px) {

	.logo {
		display: none;
	}

	.logocontainer {
		width: 200px;
		margin-top: 20vh;
	}

	h1 {
		font-size: 14pt;
		letter-spacing: 0;
	}

	.mobilelogo {
		display: inline;
		width: 200px;
	}


}