html {
	background: #cc0000;
	padding: 5em;
}

body {
	background-color: none;
	margin-top: 25vh;
	margin-left:auto;
	margin-right: auto;
	width: 95%;
}

.button {
	background: white;
	width: auto;
	border-radius: 33px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	transition: 0.3s;
}

.button:hover{
	-webkit-box-shadow: 0px 0px 31px 20px #AA0404; 
	box-shadow: 0px 0px 31px 20px #AA0404;

}

.button>a {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 40pt;
	color: black;
	font-weight: bold;
	text-align: center;
	transition: 0.3s;
	letter-spacing: 7px;
}

.button>a:hover {
		color: #AA0404;
}

.spacer {
	height: 65px;
}

.logo {
	width: 80px;
	vertical-align: center;
	margin-left: 45%;
}

@media screen and (max-width: 2560px){

	.button>a {
		font-size: 60pt;
	}

	.button {
		width: 60%;
	}

	.logo {
		margin-left: 48%;
	}

	}

@media screen and (max-width: 1500px){

	.button>a {
		font-size: 50pt;
	}

	.button {
		width: 100%;
	}

	.logo {
		margin-left: 48%;
	}

	}

@media screen and (max-width: 800px) {
	
	.button>a {
		font-size: 40pt;
	}

	body {
		margin-top: 5vh;
	}
}

@media screen and (max-width: 600px) {
	
	.button>a {
		font-size: 30pt;
	}

}

@media screen and (max-width: 450px) {
	
	.button>a {
		font-size: 15pt;
		letter-spacing: 0;

	}

	.button {
		padding-left: 5px;
		padding-right: 5px;
		max-width: 425px
	}

	.logo {
		margin-left: 33%;
	}



}

@media screen and (max-width: 350px) {
	
	.button>a {
		font-size: 15pt;
	}

	.logo {
		margin-left: 38%;
	}

}

@media screen and (max-height: 1400px) {
	
	body {
		margin-top: 25vh;
	}
}

@media screen and (max-height: 1200px) {
	
	body {
		margin-top: 20vh;
	}
}

@media screen and (max-height: 1100px) {
	
	body {
		margin-top: 15vh;
	}
}

@media screen and (max-height: 900px) {
	
	body {
		margin-top: 10vh;
	}
}

@media screen and (max-height: 800px) {
	
	body {
		margin-top: 5vh;
	}
}